---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
BreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
FixNamespaceComments: false
NamespaceIndentation: All
---
